<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Ethiopian and Eritrean Music, Movies and Dramas</title>
		<link href="/styles/site.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cinzel:900%7CDroid+Sans" rel="stylesheet">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		      <header>
        <div class="utility-bar">
          <div class="social">
            <a href="#" title="Facebook">
              <img src="/images/facebook.svg" alt="Facebook">
            </a>
             <a href="#" title="twitter">
              <img src="/images/twitter.svg" alt="twitter">
            </a>
            <a href="#" title="Google">
              <img src="/images/google-plus.svg" alt="google">
            </a>
          </div>
          <nav>
            <ul>
              <li><a href="#" title="About">About</a></li>
              <li><a href="#" title="Contact">Contact</a></li>
            </ul>
          </nav>
         <!-- <div class="search">
            <input type="text" role="search" placeholder="Music and Movies">
          </div> -->
        </div>
        <div class="site-title">
			<h1>
				<a href="/">
				<span>Everything</span> Habesha
				</a>
          	</h1>
          <p>We watch Ethiopian and Eritrean Music, Movies, Dramas, Tv shows and write an honest review!</p>
        </div>
        <nav class="main-nav">
          <ul>
						{{# each navLinks}}
									<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
										<a href="{{ href }}" title="{{label}}">{{ label }}</a>
									</li>
						{{/each}}
          </ul>
        </nav>
      </header>
      <div class="adsense">

      </div>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<footer>
			© 2016 Everything Habesha
		</footer>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
