<!DOCTYPE html>
<html>
	<head>
		    <meta name="Description" CONTENT="Watch Ethiopian and Eritrean Music, Movies, Dramas, Tv shows and read an honest review!">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Ethiopian and Eritrean Music, Movies and Dramas</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
<style>
	html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}@font-face{font-family:Cinzel;font-style:normal;font-weight:900;src:local("Cinzel-Black"),url(https://fonts.gstatic.com/s/cinzel/v4/u8CPqNcpTcF_eDy_SWp9tZBw1xU1rKptJj_0jans920.woff2) format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000}@font-face{font-family:Droid Sans;font-style:normal;font-weight:400;src:local("Droid Sans"),local("DroidSans"),url(https://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciAzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000}*{box-sizing:border-box}body{font-family:Droid Sans,sans-serif}.wrapper{margin:0 15px}h1{font-family:Cinzel,serif}ul{padding:0;margin:0}a{text-decoration:none;color:#000}header{margin-top:25px;margin-bottom:25px}.utility-bar .search,.utility-bar .social,.utility-bar nav{display:inline-block;vertical-align:top;width:49%}.utility-bar nav{text-align:right}.social a img{width:30px;margin-right:10px}nav{text-align:center}nav ul li{list-style:none;display:inline-block;padding-right:20px}nav ul li a{position:relative}nav ul li a:after{content:"";position:absolute;border-bottom:1px solid #fff;bottom:-10px;left:0;width:40%;transition:all .3s ease-in-out}nav ul li a:hover:after{width:100%}.search input{width:80%;height:30px;padding-left:10px;border:1px solid #000}.site-title{text-align:center}.site-title h1{font-size:50px;margin-bottom:20px}.site-title h1 span{color:#ff5f2e}.site-title p{font-size:24px}nav.main-nav{background:#003459;padding:30px;margin-right:-15px;margin-left:-15px}nav.main-nav a{color:#fff}main{margin-top:20px;max-width:1200px;margin:0 auto}main article.post-card{display:inline-block;vertical-align:top;padding-right:15px;width:25%;margin-bottom:25px}main article.post-card a{position:relative;display:inline-block}main article.post-card a:after{content:""}main article.post-card a:hover img{transform:scale(1.1)}main article.post-card a:hover h2{text-decoration:underline}main article.post-card div.thumbnail{overflow:hidden}main article.post-card div.thumbnail img{max-width:100%;display:inline-block;transition:all .3s ease-in-out;vertical-align:top}main article.post-card h2{color:#167ac6;font-size:14px;font-weight:700;margin-top:11px;display:inline-block}main article.post-card p{margin-top:5px;margin-bottom:0}footer{text-align:center;margin-top:25px;padding:26px 0;background:#003459;margin-right:-15px;margin-left:-15px;color:#fff;line-height:1}@media all and (max-width:992px){main article.post-card{width:33.3333%}}@media all and (max-width:768px){nav.main-nav a:after{display:none}main article.post-card{width:50%}}@media all and (max-width:600px){header{margin-top:0}.utility-bar{display:none}.site-title h1{font-size:40px;margin-bottom:0;margin-top:10px}.site-title p{font-size:16px}nav.main-nav{text-align:left;padding:15px 30px}nav.main-nav ul li{display:block;margin-bottom:15px}nav.main-nav ul li a:after{display:none}nav.main-nav ul li:last-child{margin-bottom:0}main article.post-card{width:100%}}main.post .right-sidebar,main.post article.content{display:inline-block;vertical-align:top}main.post article.content{width:70%}main.post article.content h1{font-size:25px;margin-top:50px;font-family:Droid Sans;font-weight:700}main.post article.content p{line-height:1.5;max-width:600px;margin:0}main.post .right-sidebar{padding-left:15px;padding-top:25px;width:30%}main.post .right-sidebar article{width:100%;margin-bottom:10px}main.post .youtube-player{position:relative;padding-bottom:56.25%;padding-top:25px;height:0}main.post .youtube-player iframe{position:absolute;width:100%!important;height:100%!important;border:0}@media all and (max-width:768px){main.post .right-sidebar,main.post article.content{width:100%}main.post .right-sidebar{padding-left:0}}
</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88563640-1', 'auto');
  ga('send', 'pageview');

</script>
	</head>
	<body>
		<div class="wrapper">
			 <header>
        <div class="utility-bar">
          <div class="social">
            <a href="#" title="Facebook">
              <img src="/images/facebook.svg" alt="Facebook">
            </a>
             <a href="#" title="twitter">
              <img src="/images/twitter.svg" alt="twitter">
            </a>
            <a href="#" title="Google">
              <img src="/images/google-plus.svg" alt="google">
            </a>
          </div>
          <nav>
            <ul>
              <li><a href="#" title="About">About</a></li>
              <li><a href="#" title="Contact">Contact</a></li>
            </ul>
          </nav>
         <!-- <div class="search">
            <input type="text" role="search" placeholder="Music and Movies">
          </div> -->
        </div>
        <div class="site-title">
			<h1>
				<a href="/">
				<span>My</span> Habesha
				</a>
          	</h1>
          <p>We watch Ethiopian and Eritrean Music, Movies, Dramas, Tv shows and write an honest review!</p>
        </div>
        <nav class="main-nav">
          <ul>
						{{# each navLinks}}
									<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
										<a href="{{ href }}" title="{{label}}">{{ label }}</a>
									</li>
						{{/each}}
          </ul>
        </nav>
      </header>
      <div class="adsense">

      </div>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<footer>
			© 2016 Everything Habesha
		</footer>
		</div>
	</body>
</html>
