      <main class="post"><!--
          --><article class="content">
              <div class="youtube-player">
				        {{{data.post.youtubeEmbed}}}
              </div>
              <header>
                  <h1>
                      {{data.post.title}}
                  </h1>
              </header>
    				  {{{data.post.content.extended}}}
          </article><!--
          --><div class="right-sidebar">
              {{# each data.relatedPosts}}
                <article class="post-card">
                  <a href="{{href}}" title="Article title">
                    <div class="thumbnail">
                    <img src="{{imageURL}}" alt="Article title goes here">
                    </div>
                    <h2>{{{title}}}</h2>
                  </a>
                </article>
              {{/each}}
          </div>
      </main>
